<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=user%></title>
    <style>
        h1{
            text-align: center;
        }
        .exn{
            border: 1px solid red;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="main">
    <h1>EXPENSE TRACKER</h1>
    <div class="bal">

    </div>
    <div class="table">

    </div>
    <div class="exn">
        <form action="">
            <h2>ADD NEW</h2>
            <label for="">entry type</label>
            <select name="" id="">
            <option value="">income</option>
            <option value="">expense</option>
            </select><br>
            <label for="">amount</label>
            <input type="number"><br>
            <button>add expenses</button>
        </form>
    </div>
</div>
</body>
</html>